<html lang="${param.lang}"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="commonParts/header :: copy"></head>
<body class="home blog">

<div id="wrapper">
    <header id="header">
        <div th:insert="commonParts/header_white :: copy"></div>
        <div class="header_blue">
            <nav th:insert="commonParts/navi_block :: copy"></nav>
            <section class="slider_home">
                <div class="slides_nav_wrap">
                    <ul id="slides_nav"></ul>
                </div>
                <ul id="main_slider">
                    <li>
                        <img src="/img/9.png" class="desktop-slide" width="960"
                             height="368">

                        <div class="slide_block">
                            <img src="/img/9.png" class="mobile-slide" width="320"
                                 height="475">
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </header>
</div>


<section class="benefits_section">
    <div class="center">
        <ul class="benefits_list clearfix">
            <li class="around-clock">
                <a href="#" class="benefits_item">
	                <span class="benefits_inner">
	                    <span class="caption">
                            <span class="cell">
                                <p th:text="#{home.benefits.work}"></p>
                                <p th:text="#{home.benefits.all.day}"></p>
                                24/7/365
                            </span>
                        </span>
	                </span>
                </a>
            </li>
            <li class="taxi-online">
                <a href="#" class="benefits_item">
	                <span class="benefits_inner">
	                    <span class="caption">
                            <span class="cell">
                                <p th:text="#{home.benefits.order}"></p>
                                <p th:text="#{home.benefits.order.online}"></p>
                            </span>
                        </span>
	                </span>
                </a>
            </li>
            <li class="taxi-station">
                <a href="#" class="benefits_item">
	                <span class="benefits_inner">
	                    <span class="caption">
                            <span class="cell">
                                <p th:text="#{home.benefits.taxi.aeropot}"></p>
                                <p th:text="#{home.benefits.taxi.railway.st}"></p>
                                <p th:text="#{home.benefits.taxi.auto}"></p>
                            </span>
                        </span>
	                </span>
                </a>
            </li>
            <li class="low-rates">
                <a href="#" class="benefits_item">
	                <span class="benefits_inner">
	                    <span class="caption">
                            <span class="cell" >
                                <p th:text="#{home.benefits.low}"></p>
                                <p th:text="#{home.benefits.low.tariff}"></p>
                            </span>
                        </span>
	                </span>
                </a>
            </li>
        </ul>
    </div>
</section>


<section id="text_section" class="text_section">
    <div class="center text">
        <h1 th:text="#{home.taxi.title}"></h1>
        <span th:text="#{home.text1}"></span>
        <h2>
            <span th:text="#{home.benefit.text}"></span>
        </h2>
        <ul>
            <li>
                <span th:text="#{home.text2}"></span>
            </li>
            <li>
                <span th:text="#{home.text3}"></span>
            </li>
            <li>
                <span th:text="#{home.text4}"></span>
            </li>
        </ul>
    </div>
</section>

<footer th:insert="commonParts/footer :: copy"></footer>
</body>
</html>