<html lang="${param.lang}"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="commonParts/header :: copy"></head>
<body class="home blog">
<div id="wrapper">
    <header id="header">
        <div th:insert="commonParts/header_white :: copy"></div>
        <div class="header_blue">
            <nav th:insert="commonParts/navi_block :: copy"></nav>
        </div>
    </header>
    <div class="center">
        <div class="register">
            <form method="POST" th:action="#{/taxi-kyiv/login}">
                <div class="container">

                    <h1 th:text="#{login.sign.up}"></h1>
                    <p th:text="#{login.fill.form}"></p>
                    <hr>
                    <p class="errorsM" th:if="${param.error}" th:text="#{login.incorrect.input}"></p>
                    <label><b th:text="#{login.title.phone}"></b></label>
                    <input type="text" th:placeholder="#{login.phoneNumber}" name="username" required>
                    <label><b th:text="#{login.title.password}"></b></label>
                    <input type="password" th:placeholder="#{login.password}" name="password" required>
                    <hr>
                    <button type="submit" class="registerbtn" th:text="#{login.submit.btn}"></button>
                </div>

                <div class="container signup">
                    <p th:text="#{login.have.not.acc}"></p> <a th:href="@{/taxi-kyiv/register-client}" th:text="#{login.sign.up}"></a>.
                </div>
                <div style="height: 60px"></div>
            </form>
        </div>
    </div>
</div>
    <footer th:insert="commonParts/footer :: copy"></footer>
</body>
</html>