
<html lang="${param.lang}"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="commonParts/header :: copy"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.css}">
<body class="home blog">

<div id="wrapper">
    <header id="header">
        <div th:insert="commonParts/header_white :: copy"></div>

        <div class="header_blue">
            <nav th:insert="commonParts/navi_block :: copy"></nav>
        </div>

    </header>

    <div class="center">
        <div class="nazar" >
            <span class="center">Order sent successfully!!!</span>
        </div>
    </div>
</div>
<footer th:insert="commonParts/footer :: copy"></footer>
</body>
</html>