<html lang="${param.lang}"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="commonParts/header :: copy"></head>
<body class="home blog">
<div id="wrapper">
    <header id="header">
        <div th:insert="commonParts/header_white :: copy"></div>
        <div class="header_blue">
            <nav th:insert="commonParts/navi_block :: copy"></nav>
        </div>
    </header>
    <div class="center">
        <div class="register">
            <form method="POST" th:object="${client}" th:action="@{/taxi-kyiv/register-client}">
                <div class="container">
                    <h1 th:text="#{register.title}"></h1>
                    <p th:text="#{register.ask.to.fill}"></p>
                    <hr>

                    <label><b th:text="#{register.name}"></b></label>
                    <p class="errorsM" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</p>
                    <input type="text" th:placeholder="#{register.name}" th:field="*{name}" required>

                    <label><b th:text="#{register.surname}"></b></label>
                     <p class="errorsM" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" >Validation error</p>
                    <input type="text" th:placeholder="#{register.surname}" th:field="*{surname}" required>

                    <label><b th:text="#{register.phone.number}"></b></label>
                    <p class="errorsM" th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}">Validation error</p>
                    <input type="text" th:placeholder="#{register.phone.number}" th:field="*{phone_number}" required>
                    <br>
                    <br>
                    <hr>

                    <label><b th:text="#{register.email}"></b></label>
                    <p class="errorsM" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Validation error</p>
                    <input type="email" th:placeholder="#{register.email}" th:field="*{email}" required>


                    <label><b th:text="#{register.password}"></b></label>
                    <p class="errorsM" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Validation error</p>
                    <input type="password" th:placeholder="#{register.enter.password}" th:field="*{password}" required>

                    <label><b th:text="#{register.repeat.password}"></b></label>
                    <input type="password" th:placeholder="#{register.repeat.password}" th:field="*{password_repeat}" required>
                    <hr>

                    <p th:text="#{register.agree.creating}"></p><a href="#" th:text="#{register.terms.privacy}"></a>.
                    <button type="submit" class="registerbtn" th:text="#{register.btn.submit}"></button>
                </div>

                <div class="container signin">
                    <p th:text="#{register.have.acc}"></p> <a th:href="@{/taxi-kyiv/login}"
                    th:text="#{register.sign.in}"></a>.
                </div>
                <div style="height: 60px"></div>
            </form>
        </div>
    </div>

</div>
    <footer th:insert="commonParts/footer :: copy"></footer>
</body>
</html>