<html lang="${param.lang}"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonParts/header :: copy"></head>
<body class="home blog">
<div id="wrapper">
    <header id="header">
        <div th:insert="commonParts/header_white :: copy"></div>
        <div class="header_blue">
            <nav th:insert="commonParts/navi_block :: copy"></nav>
        </div>
    </header>


    <div class="center">
        <div class="nazar">

            <div class="ordersHeader">
                <p th:text="#{showOrders.orders.title}"></p>
            </div>
            <div class="viewData">
                <div class="idOrder">
                    <p th:text="#{showOrders.orders.id}"></p>
                </div>
                <div class="nameClient">
                    <p th:text="#{showOrders.client}"></p>
                </div>
                <div class="street">
                    <p th:text="#{showOrders.street.dep}"></p>
                </div>
                <div class="street">
                    <p th:text="#{showOrders.street.arr}"></p>
                </div>
                <div class="costVoage">
                    <p th:text="#{showOrders.price}"></p>
                </div>
            </div>

            <tr th:each="order : ${orderPage.content}">
                <div class="viewData data">
                    <div class="idOrder">
                       <p th:text="${order.idOrder}"></p>
                    </div>
                    <div class="nameClient">
                        <p th:text="${order.client.name}"></p>
                    </div>
                    <div class="street">
                        <b style="display: inline " th:text="${order.addressDeparture.street}" ></b><b style="display: inline" th:text="${order.addressDeparture.houseNumber}" ></b>
                    </div>
                    <div class="street">
                        <b style="display: inline" th:text="${order.addressDeparture.street}" ></b> <b style="display: inline" th:text="${order.addressDeparture.houseNumber}" ></b>
                    </div>
                    <div class="costVoage">
                        <p th:text="${order.costWithDiscount}"></p>
                    </div>
                </div>
            </tr>

<!--                <div th:if="${orderPage.totalPages > 0}" class="pagination"-->
<!--                     th:each="pageNumber : ${pageNumbers}">-->
<!--                    <a th:href="@{/taxi-kyiv/driver-account/show-orders(size=${orderPage.size}, page=${pageNumber})}"-->
<!--                       th:text="${pageNumber}"-->
<!--                       th:class="${pageNumber==orderPage.number + 1} ? active"></a>-->
<!--                </div>-->


            <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center" >

                        <li class="page-item" th:if="${orderPage.totalPages > 0}"
                            th:each="pageNumber : ${pageNumbers}">
                            <a class="page-link" th:href="@{/taxi-kyiv/driver-account/show-orders(size=${orderPage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==orderPage.number + 1} ? active"></a>
                        </li>

                </ul>
            </nav>
        </div>

    </div>
</div>
    <footer th:insert="commonParts/footer :: copy"></footer>
</body>
</html>