<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="header_white clearfix" th:fragment="copy">
        <div class="center">
            <a href="${pageContext.request.contextPath}/taxi-Kyiv/homePage" id="logo" title="Taxi Kyiv">
                <img src="/img/logo.png" width="163" height="57">
            </a>
            <div style="float: right; width: 420px">
                <div class="signClient">
                    <p style="float: left;padding-top: 7px; color: #009EDF">
                        <c:out
                            value="${sessionScope.loginedPerson.name}"/>
                        <c:out value="${sessionScope.loginedPerson.surname}"/></p>

                    <a href="${pageContext.request.contextPath}/taxi-Kyiv/login">
                        <div style="margin: auto; float: right; height: 36px;">
                            <img src="/img/iconenter.png" style="height: 36px">
                        </div>
                    </a>
                </div>

                <div class="header_city">
                    <div class="city_current">
                        <p th:text="#{label.current.city}"></p>
                    </div>
                </div>

                <div class="lang_block">
                    <ul id="lang">
                        <li class="lang-item lang-item-2">
                            <a href="?lang=ua">ua</a>
                        </li>
                        <li class="lang-item lang-item-5">
                            <a href="?lang=en">en</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>